<html>
  <head>
    <style>
      .name span:nth-child(1) {
        color: red;
      }
      .name span:nth-child(2) {
        color: green;
      }
      .name span:nth-child(3) {
        color: blue;
      }
    </style>
  </head>
  <body>
    <p>
      Hi, <br><br>
      You're receiving this email because you requested a password reset for your user account at usone.<br>
      Please go to the following page and choose a new password:
    </p>

    <p>http://localhost:8000/password-reset/MQ/53h-4d22e7d521ad9572ebf7/</p>

    <p>
      Your username, in case you've forgotten: jpark2320@gmail.com
      Thanks for using our site!
    </p>

    <p class="name"><b>The <span>U</span><span>S</span><span>One</span> team</b></p>
  </body>
</html>